header {
  background-color: black;
  color: white;
  height: 200px;
}

h1 {
  text-align: center;
}

.welcome {
  text-align: center;
  height: 894px;
  background-image: url("./pics/MosesJul.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: line;
  color: white;
  font-size: 25px;
}
