header {
  background-color: black;
  color: white;
  height: 200px;
}
h1 {
  text-align: center;
}

.welcome {
  height: 894px;

  background-image: url("./pics/MosesJul.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 100px;
  background-color: black;
}

.container {
  display: flex;
  order: 4;
  flex-direction: row;
  justify-content: space-evenly;
}
